.error {
    color: $orange;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
    font-size: 0.8rem;
    &::before {
        content: "\0021";
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
        color: $orange;
        background-color: $lighterOrange;
        text-align: center;
        margin-right: 0.5rem;
    }
}