@import "variables/assets";
@import "variables/colors";
@import "variables/responsive";
@import "variables/typography";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
}

input {
    font-family: $font-family-primary;
    font-weight: $font-weight-light;
}

p {
    font-weight: 100;
    color: $gray;
}

input.loginInput {
    // width: 20em;
    width: 100%;
    height: 3em;
    padding: 0.6em 1em;
    border-radius: 20px;
    border: none;
    border: 1px solid $lightgray;
    background: $white;
}

.yellow {
    background-color: $yellow;
}

.orange {
    background-color: $lightOrange;
}

.pink {
    background-color: $pink;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}

.gray {
    background-color: $lightgray;
}

.pinkTwo {
    background-color: $lightPink;
}

.yellowTwo {
    background-color: $lighterYellow;
}

main {
    padding-bottom: 5rem;
}

.home {
    padding-bottom: 0rem;
}

// Vue tour need important to overrule the built-in css
.v-step {
    background-color: white !important;
    color: black !important;
    .v-step__header {
        font-family: $font-family-primary;
        color: $orange;
        font-weight: $font-weight-bold;
        background-color: $lighterYellow !important;
    }
    .v-step__content {
        div {
            color: $gray !important;
            font-family: $font-family-primary;
        }
        span {
            color: $gray;
            font-weight: $font-weight-bold;
        }
    }
    .v-step__buttons {
        background-color: $white;
        button {
            color: $gray !important;
            font-family: $font-family-primary;
        }
    }
    .v-step__arrow--dark {
        &:before {
            background-color: white !important;
        }
    }
}