.chat-detail {
  width: 86vw;
  margin: 0 auto;
  header {
    height: 13vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #8080803d;
    color: $orange;
    margin-bottom: 1em;

    a {
      &:nth-of-type(2) {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 11em;

        div {
          width: 2em;
          height: 2em;
          text-align: center;
          margin: 0 auto;
          display: block;
          padding: 0em;
          align-items: center;
          align-self: center;
          align-content: center;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);

          p {
            font-weight: 600;
            text-align: center;
            line-height: 35px;
          }
        }
      }
      h2 {
        font-family: $font-family-secondary;
        font-weight: $font-weight-bold;
        font-size: 0.9rem;
        color: $black;
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      flex-direction: row-reverse;
      align-content: center;
      align-items: flex-start;
      li {
        list-style: none;
        margin: 1em 0;

        div {
          // width: fit-content;
          padding: 1em;
          height: auto;

          position: relative;

          border-radius: 0.4em;

          &:after {
            content: "";
            position: absolute;
            top: 60%;

            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom: 0;
            border-left: 0;
          }

          p {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        .other {
          background: $lighterYellow;

          &:after {
            border-top-color: $lighterYellow;
            left: -6%;
            transform: rotate(180deg);
          }
        }

        .me {
          background-color: $lightererOrange;
          margin-right: 0em;
          margin-left: 5em;
          // margin-right: 4em;
          margin-left: 12em;
          width: fit-content;
          max-width: 13em;
          word-break: break-word;
          align-items: flex-end;

          &:after {
            border-top-color: $lightererOrange;
            left: 98%;
            transform: rotate(-180deg);
            transform: rotateY(3rad) rotate(180deg);
          }
        }
      }
    }

    form {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1em;
      text-align: center;

      div {
        display: flex;
        input {
          width: 100%;
          height: 3em;
          padding: 0.6em 1em;
          border-radius: 20px;
          border: none;
          border: 1px solid $lightgray;
          background: $white;
          position: relative;
        }
        svg {
          position: absolute;
          right: 1.5em;
          width: 2.5em;
          height: 2.5em;
          padding: 10px;
          min-width: 50px;
        }
      }

      button{
        display: none;
      }
    }

    article {
      //   padding: 0.3em;

      &:not(:nth-of-type(1)) {
        border-bottom: 0.13px solid $lighterGray;
      }

      &:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        div {
          &:nth-child(1) {
            width: 8em;
            height: 8em;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 3px 8px $gray;
          }
        }
      }
    }
  }
}
