// Primary colors
$yellow: #FEE89E;
$orange: #F07904;
$gray: #726d61;
$black: #151515;
$white: #FFFF;
$lightYellow: #fee89e;
$lighterYellow: #fef1c5;
$lightOrange: #fed7a0;
$lighterOrange: #ffc400;
$lightgray: #d3d3d3;
// Secundaire colors
$red: #FEB4B0;
$green: #BAF0C5;
$blue: #C2EAFB;
$purple: #DAD0FB;