// Primary colors
$yellow: #fee89e;
$orange: #f07904;
$gray: #726d61;
$black: #151515;
$white: #ffff;
$lightYellow: #fee89e;
$lighterYellow: #fef1c5;
$lightOrange: #fed7a0;
$lighterOrange: #ffc400;
$lightererOrange: #fdedd8;
$lightgray: #d3d3d3;
$lighterGray: #726d61;

// Secundaire colors
$red: #feb4b0;
$green: #baf0c5;
$blue: #c2eafb;
$purple: #dad0fb;
$pink: #feb4b0;
$lightPink: #fec5d4;
