/*
|--------------------------------------------------------------------------
| Variables: Responsive
|--------------------------------------------------------------------------
|
| Here is where responsive related variables are declared.
|
*/


/* ==========================================================================
   Minimum widths for breakpoints
   ========================================================================== */
   $screen-xs: 320px; 
   $screen-sm: 576px;
   $screen-md: 768px;
   $screen-lg: 992px;
   $screen-xl: 1200px;
   $screen-xxl: 1300px;

   /* ==========================================================================
   Media Queries
   ========================================================================== */
   $screen-xs-min: ($screen-xs);
   $screen-sm-min: ($screen-sm);
   $screen-md-min: ($screen-md);
   $screen-lg-min: ($screen-lg);
   $screen-xl-min: ($screen-xl);
   $screen-xxl-min: ($screen-xxl);
   
   
@mixin q-xs-min {
    @media (max-width: $screen-xs-min) { 
        @content; 
    }
}
  
@mixin q-sm-min {
    @media (min-width: $screen-sm-min) { 
        @content; 
    }
}
  
@mixin q-md-min {
    @media (min-width: $screen-md-min) { 
        @content;
    }
}

@mixin q-lg-min {
    @media (min-width: $screen-lg-min) { 
        @content; 
    }
}

@mixin q-xl-min {
    @media (min-width: $screen-xl-min) { 
        @content; 
    }
}

@mixin q-xxl-min {
    @media (min-width: $screen-xxl-min) { 
        @content; 
    }
}