// Font families & styles
$font-family-primary: Nunito,
Helvetica,
sans-serif;
$font-family-secondary: Silka,
Helvetica,
sans-serif;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;
// Font face Nunito
// Light
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Light.woff') format('woff2'), url('/fonts/Nunito/Nunito-Light.ttf') format('ttf');
    font-weight: $font-weight-light;
    font-style: normal;
    font-display: swap;
}

// Regular
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Regular.woff') format('woff2'), url('/fonts/Nunito/Nunito-Regular.ttf') format('ttf');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}

// semibold
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-SemiBold.woff') format('woff2'), url('/fonts/Nunito/Nunito-SemiBold.ttf') format('ttf');
    font-weight: $font-weight-semibold;
    font-style: normal;
    font-display: swap;
}

//bold
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Bold.woff') format('woff2'), url('/fonts/Nunito/Nunito-Bold.ttf') format('ttf');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

//extrabold
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-ExtraBold.woff') format('woff2'), url('/fonts/Nunito/Nunito-ExtraBold.ttf') format('ttf');
    font-weight: $font-weight-extra-bold;
    font-style: normal;
    font-display: swap;
}

// Font face Silka
// Light
@font-face {
    font-family: 'Silka';
    src: url('/fonts/Silka/Silka-light.woff') format('woff2'), url('/fonts/Silka/Silka-light.ttf') format('ttf');
    font-weight: $font-weight-light;
    font-style: normal;
    font-display: swap;
}

// Regular
@font-face {
    font-family: 'Silka';
    src: url('/fonts/Silka/Silka-Regular.woff') format('woff2'), url('/fonts/Silka/Silka-Regular.otf') format('otf');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}

// Medium
@font-face {
    font-family: 'Silka';
    src: url('/fonts/Silka/Silka-Medium.woff') format('woff2'), url('/fonts/Silka/Silka-Medium.ttf') format('ttf');
    font-weight: $font-weight-medium;
    font-style: normal;
    font-display: swap;
}

// Bold
@font-face {
    font-family: 'Silka';
    src: url('/fonts/Silka/Silka-Bold.woff') format('woff2'), url('/fonts/Silka/Silka-Bold.ttf') format('ttf');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-primary;
    font-weight: $font-weight-extra-bold;
}

p {
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
}

a {
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
}