.slug {
    height: 100vh;
    overflow-x: hidden;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 4rem;
            li {
                list-style: none;
                &:nth-child(1) {
                    transform: rotate(180deg);
                    margin-right: 4rem;
                }
            }
            .logo {
                color: $orange;
                font-size: 1.167rem;
                margin: auto;
                min-width: 8rem;
            }
        }
    }
    .toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        align-items: center;
        text-align: center;
        .active-class {
            background-color: $lightYellow;
        }
        span {
            color: $orange;
            background-color: $lighterYellow;
            width: 10rem;
            cursor: pointer;
            height: 3rem;
            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            p {
                color: $orange;
            }
        }
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    .image {
        margin-bottom: 1.5rem;
        max-width: 100%;
        width: 90%;
        filter: opacity(90%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 12rem;
        object-fit: cover;
        @include q-lg-min {
            max-width: 30rem;
        }
    }
    .heading {
        color: $orange;
        line-height: 1.5rem;
        font-size: 1.5rem;
        margin: 1rem 0rem 1rem 0rem;
        margin-top: 5rem;
    }
    .text {
        line-height: 1.6rem;
        max-width: 30rem;
        font-size: 1rem;
        padding: 0 50px;
        .intro {
            color: $gray;
        }
        p {
            &:nth-child(1) {
                font-family: Nunito;
                font-weight: bold;
            }
            font-family: Nunito;
            font-weight: lighter;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .listeditem {
        list-style: none;
        font-family: Nunito;
        font-weight: lighter;
        li {
            padding: 1rem;
        }
        li::before {
            content: "\2022";
            color: $orange;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    blockquote {
        margin-top: 1.5rem;
        color: $orange;
        font-family: Nunito;
        font-weight: bolder;
        font-size: 1.5rem;
        position: relative;
        border-radius: 5px;
        line-height: 1.6rem;
        margin-bottom: 2rem;
    }
    .header {
        display: flex;
        align-items: center;
        width: 30rem;
        h1 {
            margin-left: 3.2rem;
            font-size: 1.6rem;
            @include q-lg-min {
                margin-left: 0px;
            }
        }
        p {
            margin-left: auto;
            margin-right: 3.2rem;
            color: $orange;
            font-weight: bolder;
            @include q-lg-min {
                margin-right: 0px;
            }
        }
    }
    .klachten {
        p {
            &:nth-child(1) {
                font-family: Nunito;
                font-weight: lighter;
            }
        }
    }
    .tips,
    .hulp {
        .heading {
            margin-top: 5rem;
        }
    }
    .hulp {
        .listeditem {
            li {
                &:before {
                    content: "";
                }
            }
        }
        .nextButton {
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }
}