.register {
    overflow-y: hidden;
  height: 100vh;
  background-image: url("../../../assets/svg/signup-background.svg");

  header {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    nav {
      //   display: flex;
      //   justify-content: space-evenly;
      //   align-items: center;
      position: relative;
      width: 100%;
      margin-top: 4rem;

      button {
        font-weight: bold;
        font-family: Silka, Helvetica, sans-serif;
        &:nth-of-type(1) {
          position: absolute;
          left: 2em;
          top: 0.4em;
          background-image: url("../../../assets/icons/arrow.svg");
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          border: none;
          width: 15px;
          height: 15px;
          display: block;
          border-radius: 5px;
        }
      }

      li {
        list-style: none;
        text-align: center;

        &:nth-child(2) {
          //   margin-right: 4rem;
        }
      }

      .logo {
        color: $orange;
        font-size: 1.167rem;
        // margin: auto;
        // max-width: 0rem;
      }

      .skip {
        font-size: 1rem;
        color: $gray;
        text-decoration: none;
      }
    }
  }

  main {
    width: 86vw;
    height: 80vh;
    // background:blue;

    margin: 0 auto;
    position: relative;

    form {
      legend,
      fieldset {
        border: none;
      }
      div {
        &:not(:nth-last-of-type(1)) {
          color: red;
          height: 50vh;
        }
      }
      // all but not the last one
    }
    div.footer {
      position: absolute;
      z-index: 2;
      background-color: green;
      bottom: 0;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        right: 0;
        font-weight: bold;
        font-family: Silka, Helvetica, sans-serif;
      }
    }
  }
}
